/* color palette from <https://github.com/vuejs/theme> */
:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}
